apiVersion: apps/v1
kind: Deployment
metadata:
  name: server-main-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
      component: server-main
  template:
    metadata:
      labels:
        component: server-main
    spec:
      containers:
        - name: server-main
          image: prashantdey/completeprojectb14:servermainv1.0
          ports:
            - containerPort: 5001
          envFrom:
            - configMapRef:
                name: configmap
            - secretRef:
                name: config-secrets
          env:
            - name: PORT
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: PORT
            - name: PGUSER
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: PGUSER
            - name: PGHOST
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: PGHOST
            - name: PGDATABASE
              valueFrom:
                configMapKeyRef:
                  name: configmap
                  key: PGDATABASE
          livenessProbe:
            httpGet:
              path: /
              port: 5001
            initialDelaySeconds: 15
            periodSeconds: 10
          readinessProbe:
            httpGet:
              path: /
              port: 5001
            initialDelaySeconds: 5
            periodSeconds: 5
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"