apiVersion: apps/v1
kind: Deployment
metadata:
  name: database-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      component: postgres
  template:
    metadata:
      labels:
        component: postgres
    spec:
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: database-persistent-vlc
      containers:
        - name: postgres
          image: postgres:18 #need to check the image
          ports:
            - containerPort: 5432
          volumeMounts:
            - name:  postgres-storage
              mountPath: /var/lib/postgresql/data
          
          env:
            - name: POSTGRES_USER
              value: "gratitude_user"

            - name: POSTGRES_DB
              value: "gratitude"  
            
            - name: POSTGRES_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: config-secrets
                  key: PGPASSWORD
