apiVersion: apps/v1
kind: Deployment
metadata:
  name: api-gateway-deployment
spec:
  replicas: 2
  selector:
    matchLabels:
    component: api-gateway
  template:
    metadata:
      labels:
        component: api-gateway
    spec:
      containers:
        - name: api-gateway
          image: vikramhemchandar/ytgratitudeapp:api-gatewayv1.0
          ports:
            - containerPort: 5000
          env: 
            - name: ENTRIES_SERVICE_ADDR
              values: "entries-cluster-ip-service:50051"
            - name: OPENAI_MODEL
              values: "gpt-4o-mini"
          resources:
            requests:
              cpu: "200m"
              memory: "256Mi"
            limits:
              cpu: "500m"
              memory: "512Mi"